
<%- include('../layouts/header.ejs') -%>

<div class="row justify-content-md-center py-5 m-5">
                  
    <div class="col-md-auto">
        

        <h1>Welcome Home
            <%=user.name %>
        </h1> 

        <table>
            <tr>
                <td>Name :</td>
                <td><%=user.name %></td>
            </tr> 
            <tr>    
                <td>Email :</td>
                <td><%=user.email %></td>
            </tr> 
            <tr>    
                <td>Mobile :</td>
                <td><%=user.mobile %></td>
            </tr> 
        </table>

        <a href="/logout">Logout</a>

    </div>

 </div>   

<%- include('../layouts/footer.ejs') -%>