<%- include('../layouts/header.ejs') -%>
<div class="center-div container-fluid" id="login">
    <div class="container w-25 border py-5">

        <h1>Welcome Admin
            <%=admin.name %>
        </h1>
        <a href="/admin/logout">Logout</a>

        <a href="/admin/dashboard">Dashboard</a>

        <table>
            <tr><td> Name :</td>
                <td>
                    
                    <%=admin.name %>
                </td>
            </tr>
            <tr><td> Email :</td>
                <td>
                    <%=admin.email %>
                </td>
            </tr>
            <tr><td> Mobile :</td>
                <td>
                    <%=admin.mobile %>
                </td>
            </tr>
        </table>
    </div>
</div>    
<%- include('../layouts/footer.ejs') -%>